body {
  overflow-x: hidden;
  font-size: 16px !important;
  line-height: 1.55 !important;
}

.brand-logo {
  padding-left: 1rem !important;
}

a {
  color: $secondary-color;
}

.card-action {
  a {
    color: $muted-green !important;
  }
}

p > code.hljs { display: inline; }

.articles {
  @media only screen
    and (max-device-width: 640px),
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px) {
      margin-top: 0;
    }
  margin-top: 3rem;
}
.article {
  h1, h2, h3,
    h4, h5, h6 {
        color: darken($secondary-color, 5%);
    }
  a { color: $muted-green }

  ul { list-style: disc inside !important; }
  ul li {
    list-style: disc inside !important;
    padding-left: 0.5em;
  }
}
