$nav-height: 32rem !default;

nav {
  a {
    font-size: 2em;
    font-weight:300;
  }
  height: $nav-height;
  @media only screen
      and (max-device-width: 640px),
      only screen and (max-device-width: 667px),
      only screen and (max-width: 480px) {
        height: $nav-height * .4;
        border-radius: 0% 0% 45% 45% / 0% 0% 15% 15%;
        h3{ font-size: 1.5rem; }
  }
  @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 568px)
    and (orientation : portrait) {
      height: $nav-height * .375;
      border-radius: 0% 0% 45% 45% / 0% 0% 15% 15%;
      h3{ font-size: 1.25rem; }
  }
  background-image: url("http://res.cloudinary.com/dbwkpvbdo/image/upload/c_scale,f_auto,q_75,w_1800/v1459710559/bike_bridge_k5piva.jpg");
  background-size: 100%;
  background-position: 65% 55%;
  box-shadow: none;
  border-radius: 0% 0% 75% 75% / 0% 0% 25% 25%;
  overflow: hidden;
}

.nav-wrapper {
  .brand-logo {
    font-size: 3rem;
  }
  .nav-box {
    margin: auto;
    position: absolute;
    top: 35%; left: 0; bottom: 0; right: 0;
  }
  ul {
    position: relative;
    float: left;
    display: block;
    left: 50%;
  }
  ul li {
    position: relative;
    float: left;
    display: block;
    right: 50%;
  }
  ul li a {
    font-size: 1.55rem;
  }
  ul li a:hover {
    color: $muted-green;
  }
}

.nav-overlay {
  border-radius: inherit;
  background: rgba(39,62,84,0.82);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.avatar {
  @media only screen
    and (max-device-width: 640px),
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px){
      height: 4.5rem;
      width: 4.5rem;
      margin-top: -2rem;
      -webkit-box-shadow: 0 0 0 4px #fff;
      box-shadow: 0 0 0 4px #fff;
    }
    @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 568px)
      and (orientation : portrait) {
        height: 4rem;
        width: 4rem;
        margin-top: -1.75rem;
        -webkit-box-shadow: 0 0 0 4px #fff;
        box-shadow: 0 0 0 4px #fff;
    }
  height: 9rem;
  width: 9rem;
  display: block;
  margin: 0 auto;
  margin-top: -3rem;
  -webkit-box-shadow: 0 0 0 6px #fff;
  box-shadow: 0 0 0 6px #fff;
  border-radius: 50%;
  z-index: 999;
}
