.container {
  width: 80%;
  padding-top: 3rem
}

.brand-logo {
    padding-left: 1rem !important;
}

a{
  color: $secondary-color;
}

.card-action {
  a {
    color: #5C8A70 !important;
  }
}

p > code.hljs { display: inline; }
