.container
  - page_articles[0..3].each_with_index do |article, i|
    .col.s4
      .card
        .card-content
          .card-title
            %h4= link_to article.title, article
          .card-text.flow-text
            =article.summary(425)
        .card-action
          = link_to "Full Article", article
          = link_to article.tags.first, tag_path(article.tags.first)
