- page_articles.each_with_index do |article, i|
  .card
    .card-content
      %span.card-title
        %h4= link_to article.title, article
      =article.summary(350)
    .card-action
      = link_to "Full Article", article
      Chase in
      = link_to article.tags.first, tag_path(article.tags.first)
      = article.date.strftime('%b %e')
