%footer.page-footer.white
  .container
    .row
      .col.s9
        %ul
          %li
            %i.fa.fa-github.fa-2x
          %li
            %i.fa.fa-twitter-square.fa-2x
          %li
            %i.fa.fa-linkedin-square.fa-2x
      .col.s3
        .copy-right
          Chase Gilliam © 2015
