%nav.navbar.navbar-light.bg-faded
  %a.navbar-brand{:href => "#"} ChaseGilliam.io
  %ul.nav.navbar-nav
    %li.nav-item.active
      %a.nav-link{:href => "#"} Home
    %li.nav-item
      %a.nav-link{:href => "#"} About
    %li.nav-item
      %a.nav-link{:href => "#"} Contact Me
