%nav
  .nav-overlay
    .nav-wrapper
      .nav-box
        .row.center
          .col.s6.offset-s3
            %h3 ChaseGilliam.io
        .row
          .col.s4.offset-s4
            %ul.hide-on-med-and-down
              %li
                %a{ href: "/#articles" } Home
              %li
                %a{ href: "/about.html#intro" } About
              %li
                %a{ href: "/contact.html" } Contact
