-# .card.medium
-#   .card-image.brigde
-#     %img{src: "/images/bike_bridge.jpg"}
-#   %img.avatar.center-align{alt:"chase gilliam", src: "/images/profile.jpg", height: "90px", width: "90px"}
-#     .section
-#       .card-content
-#         %h4 Chase Gilliam
-#         %p Writing Ruby, Java & Elixir in Baltimore
.container.profile
  .col.s4
    %h4 About Me
  .col.s4
    .card
      .card-image
        %img.responsive-img{src: "/images/profile.jpg"}
  .col.s4
    %h4 Info
