.card.m-t-lg
  .img-container
    %img.card-img-top{src: "/images/bike_bridge.jpg"}
  %img.avatar{alt:"chase avatar", src: "/images/profile.jpg", height: "90px", width: "90px"}
  .card-block.m-t-lg
    %h4.card-title.text-center Chase Gilliam
    %p.card-text Writing Ruby, Java & Elixir in Baltimore
