.card.profile.z-depth-1
  .card-image.img-container
    %img.card-img-top{src: "/images/bike_bridge.jpg"}
  %img.avatar{alt:"chase avatar", src: "/images/profile.jpg", height: "90px", width: "90px"}
  .card-content
    -# %h4.card-title.text-center Chase Gilliam
    -# <span class="card-title">Card Title</span>
    %span.card-title Chase Gilliam
    %p.card-text.text-xs-center Writing Ruby, Java & Elixir in Baltimore

%ul.collection.z-depth-1
  - blog.tags.each do |tag, articles|
    .collection-item
      %a{ href: "/tags/#{tag}" }= tag
