-# .card.profile
-#   .card-image.img-container
-#     %img.card-img-top{src: "/images/bike_bridge.jpg"}
-#   %img.avatar{alt:"chase avatar", src: "/images/profile.jpg", height: "90px", width: "90px"}
-#   .card-content
-#     -# %h4.card-title.text-center Chase Gilliam
-#     -# <span class="card-title">Card Title</span>
-#     %span.card-title Chase Gilliam
-#     %p.card-text.text-xs-center Writing Ruby, Java & Elixir in Baltimore

.collection
  - blog.tags.each do |tag, articles|
    %a.collection-item{ href: "/blog/tags/#{tag}.html" }= tag
