.card.profile
  .card-content
    %span.card-title
      %a{name: "intro"}
      %h3 Hi, I'm Chase Gilliam
    .flow-text
      %p
        I am currently the Director of Engineering at Avhana Health, where I work
        with jRuby/Rails, Java, React, and a few other things. In my free time I also
        write small applications in
        %a{href: "http://elixir-lang.org/"} Elixir
        and
        %a{href: "http://www.phoenixframework.org/"} Phoenix.
      %p
        Away from the laptop, I also enjoy photography, travel, sailing, and biking.
        I can also usually be found near soup dumplings, dive bars, or any place
        with pizza.
